.app-header {
    background-color: none;
    display: flex;
    justify-content: space-between;
    h1 {
        letter-spacing: -3.7px;
    }
    nav {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 0 auto auto;
        padding: 0 0 10px;
    }
    nav .active {
        color: $clr1;
    }
    
}
