.app-header {
    height: 80px;
    justify-content: space-between;
    transition: background-color .3s;
    left: 0;
    right: 0;
    max-width: initial;
    z-index: 1;
    & .bars{
        color: white;
        display: none;
        font-size: 1.2rem;
    }
    &.change_color{
        color: $clr1;
        background-color: $clr6;
        z-index: 2;
        border-bottom: 1px solid #eee;
        & .bars {color: $clr3;}
        h1{
            color:$clr3 ;
        }
        nav {
            a {
                color:$clr3 ;
            }
        }
    }
    h1{letter-spacing: -3.7px;
        transition: color .3s;
        margin: 0;
        color: $clr6;
    }
        h1 span::before{
            content: '🟢';
            color:$clr5;
            font-size: 6px;
            margin-left: 2px;
            filter: brightness(90%);
    }
    nav {
        align-items: center;
        & a {
            color:$clr6;
            font-weight: 500;
            transition: color .3s;
            margin-left: 3.5rem;
        }
        & .header-img-profile{
            position: relative;
            display: inline;
            margin-left: 1.5rem;
            & img{
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
        }
    }
    nav .active {
        color: $clr1;
    }

}

@media screen and (max-width:$mobile-breakpoint){
    .app-header{
        margin: 0;
        & .bars{
            display: block;
            cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
        }
        & .logo {
            padding-left: 4rem;
            font-size: 16px;
         }
        & .nav-links{
            display: flex;
            position: fixed;
            left: 0;
            top: 84px;
            flex-direction: column;
            height: 100vh;
            background-color: white;
            width: 250px;
            transform: translateX(-100%);
            box-shadow: none;
            justify-content: end;
            transition: transform .8s, box-shadow .8s;
            & a{
                margin-left: 25px;
                padding: 10px;
                margin-top: 15px;
                width: 100%;
                color: #95979d;
                transition: color 0.2s;
            }
            & a:hover{
                color: #62646a;
            }
        }
        &  .nav-links.open_navbar{
            z-index: 1;
            transform: translateX(0);
            box-shadow: -4px 0px 15px 0px #413e3e;
            align-items: end;
        }
        & .nav-links a:not(:last-child){
            display: block;
        }
    }
}

// .darkness{
//     filter: brightness(30%);
// }



@media screen and (max-width:420px) {
    body{
        width: 71.5vh;
    }
    .app-header{
        width: 80%;
    }
}

@media screen and (max-width:330px) {

    .app-header{
        & .logo{
            & h1{
                font-size: 1.5rem;
            }
        }

    }
}

// @media screen and (max-width:$mobile-breakpoint){
// }
