.hero-app {
    height: 96vh;
    position: relative;
    display: flex;
    align-items: center;
    & .hero-backgrounds {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        & img {
            height: 100%;
            width: 100%;
            z-index: -1;
            background: #8c1e1e;
            transition:  .9s;
            object-fit: cover;
            transition: 0.2s;
        }
    }
    & .hero-container{
        margin: 0;
        z-index: 0;
        & .title {
            font-size: 3rem;
            width: 24ch;
            color: white;
        }
        & .search-box {
            height: 3rem;
            font-size: 1rem;
            & .search-icon{
                flex: 1;
                color: grey;
            }
            & .search {
                height: 100%;
                display: flex;
                width: 100%;
                border: none;
                background-color: $clr6;
                border-radius: 0 4px 4px 0;
            }
        }
        & .popular-search {
            height: 3.2rem;
            font-size: 0.875rem;
            font-weight: 600;
            color: $clr6;
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;
            & a {
                font-size: 1rem;
                font-weight: 600;
                margin-left: 1rem;
                padding: 3px 12px;
                border-radius: 20px;
                border: 1px solid $clr6;
                color: $clr6;
                font-weight: 400;
                transition: background-color .4s ease-in;
            }
            & a:hover{
                color: $clr3;
                background-color: $clr6;
            }
        }
    }
}

@media screen and (max-width:$normal-breakpoint) {
    .hero-app .hero-container .title {
       font-size: 2.5rem;
   }
}

@media screen and (max-width:$narrow-breakpoint) {
    .hero-app{
        height: 60vh;
        & .hero-container{
            .title{width: 95%;}
            & .popular-search {
                display: none;
            }
        }
    }
}

@media screen and (max-width:$mobile-breakpoint){
        .container{
            padding: 0 1rem;
        }
        .hero-app{
            height: 54vh;
            & .hero-container{
                .title{width: 28ch; font-size: 1.9rem;word-spacing: 5px;
                }
            }
        }
}

@media screen and (max-width:370px){
    .hero-app{
        & .hero-backgrounds {
            & img {
                width: 80%;
            }
        }
        & .hero-container{
            .title{width: 20ch;font-size: 1.5rem;}
        }
    }
}
