.hero-app {
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(131, 27, 44);
    & .hero-container{
        width: 50%;
        & .title {
            font-size: 2.5rem;
            color: white;
        }
        & .search-box {
            height: 3rem;
            font-size: 1rem;
            & .search-icon{
                flex: 1;
                color: grey;
            }
            & .search {
                height: 100%;
                display: flex;
                width: 100%;
                border: none;
                background-color: $clr6;
                border-radius: 0 4px 4px 0;
                & input {
                  padding: 8px 7px 7px 0;
                  flex: 6;
                  border: none;
                  font-size: 1rem;
                }
                & a{
                    padding: 12px 24px;
                    color: $clr6;
                    border-radius: 0 4px 4px 0;
                    background-color: $clr5;
                    font-weight: 500;
                }
            }
        }
        & .popular-search {
            height: 3.2rem;
            font-size: 0.875rem;
            font-weight: 600;
            color: $clr6;
            justify-content: space-between;
            width: 100%;
            & a {
                padding: 1px 12px 0;
                border-radius: 20px;
                border: 1px solid $clr6;
                color: $clr6;
                height: 50%;
                font-weight: 400;
            }
        }
    }
}