.app-header {
    background-color: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    nav {
        padding: 5px 0;
    }
    nav a:not(:first-child) {
        border-left: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }
    nav .active {
        color: $clr1;
    }
    
}
