.filter-search{
    justify-content: space-between;
    padding: 3rem 22px 1.5rem;
    & .search-icon{
        flex: 1;
        color: grey;
        border:1px solid #eee;
        border-right:none;
        padding: 5px 7px 5px;
    }
    & input {
        border: 1px solid #eee;
        border-left:none;
        padding: 10px 8px 10px;
    }
    & button {
        margin:0;
    }
    & .price-search {
        & .budget{margin: 0;}
        .floating-menu{
            & .min-max{
                padding: 10px;
                justify-content: space-between;
                border-bottom: 1px solid #eee;
                & input {border-left: 1px solid #eee; width: 6rem;}
            }
        }
    }
    & .rating-search{
        & .floating-menu {
            & .rating-value{
                height: 50%;
                padding: 10px;
                & span {font-size: 0.875rem; margin-left: 10px;}
            }
            & .button-apply{height:50%; padding: 10px;}
        }
    }
    & .level {
        & .floating-menu{
            left: -127px;
            right: 0;
            & .level-value{
                height: 50%;
                padding: 10px;
                & span {font-size: 0.875rem; margin-left: 10px;}
            }
            & .button-apply{height:50%; padding: 10px;}
        }
    }
    }
