.card-container{
  padding:0;
  border: 1px solid #eee;
  height: 23.125rem;
  width: 350px;
  display: grid;
  grid-template-rows: 5fr 4fr 1fr;
  & header {
    grid-row: 1/1;
    & .gig-img {
      width: 100%;
      height: 180px;
      object-fit:cover;
    }
  }
  & .main-info {
     grid-row: 2/2;
     display: grid;
     grid-template-rows: 30% 1fr;
     border-bottom: 1px solid #eee;
     padding: 2px 1rem;
     & .user-details {
       grid-row: 1/1;
       & .user-img {
        height: 35px;
        width: 35px;
        background: red;
        border-radius: 50%;
       }
       & .user-info {
         padding-left: 5px ;
         height: 100%;
         font-size: 0.875rem;
         flex: 1;
         & .user-name:hover{
           text-decoration: underline;
         }
         & .user-level {
          color: $clr2;
         }
       }
     }
     & .gig-description {transition: color .4s; font-size:0.95rem; margin-top:8px;height: 50px;}
     & .gig-description:hover {color: $clr5;}
     & .rating-info {
       color: #ffbe5b;
       font-weight: 600;
       font-size:1rem;
       & span {margin-right:5px;}
       & .reviews-count {color:$clr2; font-weight: 400; padding-left: 5px; font-size: 14px;align-self: center;line-height: 26px;
       }
     }
  }
  & .footer-info {
    height: 52px;
    padding: 0 1rem;
    grid-row: 3/3;
    justify-content: space-between;
   & .price {
     font-size: 1.125rem;
     & small {
      color: #555;
      font-size: 0.7rem;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      padding: 2px 0 0;
      line-height: 25px;
     }
   }
   & .like-button{
     cursor: pointer;
   }
   & .like{
     color: red;
   }
  }
}

.profile-card{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  & .gig-details-link{
    display: flex;
    & header{
      grid-column: 1/1;
      // height: 50px;
      & .gig-img{
        height: 100%;
        width: 3rem;
      }
    }
    & .main-info{
      grid-column: 2/2;
      // height: 50px;
      display: flex;
      border: none;
      & .user-details{
        & .user-img{
          display: none;
        }
        & .user-info {
          border: none;
          & .user-name, & .user-level{display: none;}
        }
      }
      & .rating-info {
        margin-left: 4rem;
        margin-bottom: 0;
        align-items: center;
        & span {line-height: 27px;}
      }
    }
  }
  & .footer-info {
    & .price{margin-left: 1rem;}
  }
}



@media screen and (max-width:$mobile-breakpoint){
  .card-container{
    width: 410px;
  }
}