.package-price-container{
  position: fixed;
  top: 115px;
  right: 72px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dadbdd;
  padding: 30px;
  & .price-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  & .package-about{
    font-size: 14px;
    margin-bottom: 20px;
  }
  & .delivery-time{
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #62646a;
  }
  & .extras{
    list-style: none;
    padding: 0;
  }
  & .extra{
    & span{
          color: #1dbf73;
    }
  }
}

@media (max-width : 1050px ){
  .package-price-container{
    width: 360px;
  }
}

@media (max-width : 900px ){
  .package-price-container{
    position: static;
    border: none;
    padding: 0;
    padding-bottom: 50px;
    width: 90%;
    & button{
      margin: auto;
    }
  }
}

@media (max-width : 600px ){
  .package-price-container{
    & .delivery-time{
      width: 60%;
    }
    & button{
      font-size: 15px;
    }
  }
}
