.package-price-container{
  position: fixed;
  top: 30%;
  right: 10px;
  width: 40%;
  height: 355px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  & header{
    display: flex;
    justify-content: space-between;
  }
  & .about{
    font-size: 10px;
  }
}
