.package-price-container{
  position: fixed;
  top: 115px;
  right: 48px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dadbdd;
  padding: 30px;
  & .price-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  & .package-about{
    font-size: 14px;
    margin-bottom: 20px;
  }
  & .delivery-time{
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #62646a;
  }
  & .extras{
    list-style: none;
    padding: 0;
  }
  & .extra{
    & span{
          color: #1dbf73;
    }
  }
}
