.review-app-container{
  padding: 0;
  & .review-list-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  & .add-new-review{
    padding: 15px;
    border: 1px solid #dadbdd;
    width: 100%;
      & textarea{
        padding: 10px;
        height: 200px;
        margin-bottom: 15px;
      }
      & .stars{
        margin-bottom: 15px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.111);
        cursor: pointer;
        & .gold-star{
          display: none;
          color: #ffbf00;
        }
        & .draw-star{
          display: inline-block;
        }
        & .remove-star{
          display: none;
        }
    }
    & .add-review-button{
      width: 25%;
      transition: .10s ease-in-out;
    }
    & .add-review-button:hover{
        background: #1ea063;
        color: white;
    }
  }

}
