 .user-info{
    grid-column: 1/1;
    height: 82%;
    padding-right: 1rem;
    & .logout{
      border: 1px solid #eee;
      border-radius: 5px;
      height: 30px;
      margin-bottom: 2rem;
      transition: background-color .7s;
      & button{
        text-align: center;
        border-radius: 5px;
        background-color: white;
        color: $clr1;
        font-size: 0.875rem;
        transition: background-color .7s;
      }
    }
    & .logout:hover{background-color: $clr5;  & button{background-color: $clr5; color: $clr6;}}
    & .img{
      margin-bottom: 2rem;
      & img{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 2rem;
      }
      & .name {
        color: $clr1;
        text-transform: capitalize;
        font-weight: 500;
      }
      & .level{
        color:$clr3;
        text-transform: capitalize;
        opacity: 0.8;
        font-size: 0.875rem;
      }
    }
    & .notifications{
      text-align: center;
    }
  }
