.msg-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  & header{
    grid-row: 1/1;
    & .user-notification {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & img {
        order: 2;
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
  }
  & .notification-msg{
    grid-row: 2/2;
    display: flex;
    align-items: center;
    & p {
      font-size: 0.8rem;
      color: $clr3;
    }
  }
}