* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.6;
}

body {
    font-size: rem(18px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
    line-height: 1;
    color:black;
}


section, main, footer {
    padding: 5px;
}

<<<<<<< HEAD
// p {
//     margin: 0 0 1em;
// }
=======
p {
    margin: 0
}
>>>>>>> b5bcd10f744079355e3716acd9c244d70f9a5b91

a {
    text-decoration: none;
    color:black;
}
a:hover {
    text-decoration: none;
}
