
.loader-container{
    width: 100%;
    height: 80vh;
    & .loader{
        width: 200px;
        position:absolute;
        top:150px;
        left:50%;
        transform: translateX(-50%);
    }

}
