.gig-details-container{
    padding: 10px;
    & .main-gig-details{
        width: 55%;
    }
    & .gig-title{
        font-size: 35px;
        grid-row: 1/1;
        grid-column: 1/-1;
    }
     & .gig-imgs-container{
         background-color: red;
         height: 500px;
     }
     & .user-details{
        display: flex;
        width: 50%;
        justify-content: space-around;
     }
     & h2{
         text-align: center;
     }
     & .about{
         text-align: center;
     }
}
