.gig-details-container{
    padding: 20px;
    & .main-gig-details{
        width: 56%;
    }
    & .gig-title{
        font-size: 35px;
        grid-row: 1/1;
        grid-column: 1/-1;
        padding: 1.1rem 12px 0;
        width: 56%;
        font-weight: 700;
        color: #404145;
    }
     & .gig-imgs-container{
         height: 500px;
         margin-bottom: 50px;
     }
     & .about-gig-container{
         margin-bottom: 50px;
     }
     & .user-details{
        display: flex;
        width: 80%;
        justify-content:flex-start;
        align-items: center;
        & .creator-img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
        & .username{
            font-weight: 700;
            color: #404145;
            padding-right: 10px;
            font-size: 12px;
        }
        & .user-level{
            font-size: 14px;
            color: #ffb33e;
            & span{
                color: #c5c6c9;
                padding-right: 10px;
            }
        }
        & .rating{
            font-weight: 700;
            color: #ffc100;
            padding-right: 6px;
            font-size: 14px;
        }
        & .reviews-count{
            font-size: 14px;
        }
     }
     & .about-gig-title{
         font-size: 20px;
        line-height: 28px;
        padding-bottom: 25px;
     }
     & .about{
         color: #62646a;
        font: 400 16px/24px "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
     }

     & .gig-app-container{
        padding:0;
        display: flex;
        overflow: scroll;
        width: 100%;
     }
     & .review-title{
         font-size: 20px;
     }
     & .avg-rat{
        color:#ffb33e;
     }
     & .review{
         margin-top: 2rem;
     }
}
