.gig-details{
margin: 50px;
}

.continue-btn{

    width: 400px;
    background-color: #1dbf73;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    border: 1px solid transparent;
    padding: 15px 35px;
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    cursor: pointer;
}
.checkout-btn{

    
    background-color: #1dbf73;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    border: 1px solid transparent;
    padding: 15px 35px;
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    cursor: pointer;
}

.gig-title{
    font-size: x-large;
 
}
.cotent-container{

    display: grid;
}

