.category{
    height: 400px;
    overflow: scroll;
    margin-bottom: 2rem;
    & .gig-list-container{
        display:flex;
        width:100%;
    }
}
.categories-links{
    height: 400px;
    list-style-type: none;
    padding: 0;
    justify-content:space-between;
    & div {
        height: 80%;
        border: 1px solid #eee;
        width : 17rem;
        border-radius: 10px;
    }
}