.register{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.502);
  & .register-modal-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 400px;
    background-color: white;
    border-radius: 4px;
    & .title{
      margin: 0;
      display: flex;
      font-size: 24px;
      line-height: 130%;
      padding: 32px 0;
      justify-content: center;
    }
    & .login-signup-container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & .separator{
        height: 12px;
        margin: 20px 0 32px;
        text-align: center;
        border-bottom: 1px solid #e4e5e7;
        width: 100%;
    }
    & form{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0px 36px 0px 36px;
      & input{
        box-sizing: border-box;
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #c5c6c9;
        border-radius: 4px;
        box-shadow: none;
        font-size: 16px;
        font: inherit;
        color: #404145;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
      }
      & p{
        font-size: 14px;
        width: 100%;
        text-align: center;
        line-height: 21px;
        color: #62646a;
      }
    }
    & footer{
      flex-shrink: 0;
      background-color: #fff;
      border-top: 1px solid #dadbdd;
      border-radius: 0 0 4px 4px;
      padding: 15px;
      & button{
        display: flex;
        margin: auto;
        border: none;
        color: #62646a;
        background-color: white;
        & span{
          color: #1dbf73;
          padding-left: 5px;
        }
      }
    }

  }
}
