.user-details-container{
  display: grid;
  grid-template-columns: 20% 1fr;
  height: 90vh;
  border: 1px solid $clr2;
  margin-top: 2rem;
  border-radius: 10px;
  & .user-info{
    grid-column: 1/1;
    border-right: 1px solid $clr2;
    height: 60%;
    padding-right: 1rem;
    & .logout{
      width: 100%;
      justify-content: space-between;
      flex: 1;
      & button{
        text-align: center;
        height: 2rem;
        border: 1px solid $clr2;
        border-radius: 5px;
        background-color: white;
        color: $clr1;
        font-size: 0.875rem;
      }
    }
    & .img{
      flex: 5;
      & img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 2rem;
      }
      & .name {
        color: $clr1;
        text-transform: capitalize;
        font-weight: 500;
      }
      & .level{
        color:$clr3;
        text-transform: capitalize;
        opacity: 0.8;
        font-size: 0.875rem;
      }
    }
    & .notifications{
      flex: 1;
    }
  }
  & .user-dashboard{
    height: 55%;
    grid-column: 2/2;
    padding-left: 2rem;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%;
    gap: 20px ;
    & .welcome {
      color: $clr6;
      padding: 2rem;
      height: 100%;
      background-color:$clr5;
      grid-column: 1/3;
      border-radius: 10px;
      align-items: flex-start;
    }
    & .orders{
      // height: 70%;
      grid-template-columns: 1/2;
      border-radius: 10px;
      border: 1px solid $clr3;
      text-align: left;
      padding: 2rem;
    }
    & .gigs{
      // height: 70%;
      grid-template-columns: 2/3;
      border-radius: 10px;
      border: 1px solid $clr3;
      text-align: left;
      padding: 2rem;
    }
  }
}
